<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <!--<link rel="icon" type="image/x-icon" href="../public/images/favicon.ico" />-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Demuestra lo que sabes!</h1>
    <p>Haz clic sobre la pregunta que quieras responder!</p>
    
    <div id="form-busquedas">
      <form name="form-buscar" method="get" action="/quizes">
        <input type="text" name="search" placeHolder="Buscar..." />
        <input type="submit" value="Buscar">
      </form>
    </div>

    <table>
    	<% for(var i=0; i<quizes.length;i++){ %>
    	<tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button type="button">Editar</button></a></td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick=" return confirm('¿Borrar:<%= quizes[i].pregunta %>?')">Borrar</button>
          </form>
        </td>
      </tr>
    	<% } %>
    </table>
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
    
  </body>
</html>
